.apply-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.right-content {
  width: 80%; /* Take 70% of total width */
  height: 100%; /* Take complete height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  overflow-y: hidden;
  align-items: center;
  text-align: center;
}
.scrollable-content {
  height: 100%;
  overflow-y: auto; /* Added overflow-y: auto */
  padding-right: 15px;
  padding-bottom: 20px; /* Added padding-bottom */
  box-sizing: border-box; /* Added box-sizing: border-box */
}
.tph {
  text-align: center;
  text-align: center;
  /* transform: translateY(-50%); */
  color: #424769;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, roboto slab,
    droid serif, segoe ui, system-ui, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}
.user-infotptwo {
  /* background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 5px;
  width: 100%;
  background-color: #dde6ed;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: -10px 10px 20px #9290c3;
  /* height: 400px; */
  /* background-color: black; */
}

.user-infotptwo p {
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, roboto slab,
    droid serif, segoe ui, system-ui, Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  /* background-color: red; */
}

.applyForm {
  margin-top: 20px;
}
.dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dropdowns select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}
