.status-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.inside h2 {
  text-align: center;
}
.tppara {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  /* background-color: red; */
  box-sizing: border-box;
  width: 100%;
}
.right-content {
  width: 80%; /* Take 70% of total width */
  height: 100%; /* Take complete height */
  display: flex;
  justify-content: start; /* Center the content horizontally */
  overflow-y: hidden;
  align-items: center;
  text-align: center;
}
.scrollable-content {
  height: 100%;
  overflow-y: auto; /* Added overflow-y: auto */
  padding-right: 15px;
  padding-bottom: 20px; /* Added padding-bottom */
  box-sizing: border-box; /* Added box-sizing: border-box */
  width: 100%;
}

.slab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 15px;
}

.slab-left {
  display: flex;
  align-items: flex-start;
  /* background-color: red; */
  width: 50%;
}
.slab-right {
  display: flex;
  /* background-color: blue; */
  justify-content: flex-end;
  width: 25%;
}

.slab-left > div {
  margin-right: 10px; /* Adjust as needed */
}

.slab-left p,
.slab-right p {
  border-radius: 10px; /* Adjust as needed */
  padding: 10px 20px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width/height */
  font-size: 14px; /* Increased font size */
  font-weight: 600; /* Bold font weight */
  border: 2px solid #ccc; /* Added border */
  text-align: center;
}
.slab-left p {
  background-color: white;
}
.green {
  background-color: rgb(30, 147, 30);
  color: white;
  font-size: 20px;
}
.red {
  background-color: rgb(247, 68, 68);
  color: white;
  font-size: 20px;
}
.orange {
  color: white;
  font-size: 20px;
  background-color: rgb(243, 175, 50);
}

/*
.left-nav {
  width: 20%; 
  min-width: 200px; 
  height: 100%; 
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.top-buttons {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logout-button {
  margin-top: auto; 
}

.left-nav button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.left-nav button:hover {
  background-color: #0056b3;
}
 .slab-right p {
  box-sizing: border-box;
  text-align: center;
} 

 .slab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.slab-left {
  display: flex;
  align-items: center;
}

.slab-left > div {
  margin-right: 10px; 
}
.slab-left p,
.slab-right p {
  background-color: white;
  border-radius: 4px; 
  padding: 4px 8px; 
  box-sizing: border-box; 
  padding-top: 5px;
  padding-bottom: 5px;
}
.slab-right p {
  box-sizing: border-box;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
} */
/* .slab {
  display: flex;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: space-between;
  width: 100%; 
}

.slab-left {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.slab-right {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.slab p {
  margin: 0;
  box-sizing: border-box;
}

.slab-left p,
.slab-right p {
  background-color: #fff;
  padding: 5px 1px;
  border-radius: 5px;
}
.slab-right p {
}
.slab-left p {
  margin-bottom: 5px;
} */
