.userinfo-container {
  display: flex;
  height: 100vh; /* Take complete height */
  overflow: hidden;
}
.right-content {
  width: 80%; /* Take 70% of total width */
  height: 100%; /* Take complete height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  overflow-y: hidden;
  align-items: center; /* Center the content vertically */
  flex: 1;
  padding: 20px;
}
.usrdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  align-items: center;
  width: 80%;
}
.tp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-icon {
  height: 100%;
  width: 20%;
}
.user-infotp {
  /* background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 5px;
  width: 100%;
  background-color: #dde6ed;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: -10px 10px 20px #9290c3;
  padding: 10px;
  height: 400px;
  /* background-color: black; */
}

.user-infotp h2 {
  margin-bottom: 10px;
}

.user-infotp p {
  /* padding: 10px 0px;
  margin: 10px 3px; */
  /* background-color: red; */
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, roboto slab,
    droid serif, segoe ui, system-ui, Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

.tp h2 {
  text-align: center;
  /* transform: translateY(-50%); */
  color: #424769;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, roboto slab,
    droid serif, segoe ui, system-ui, Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;

  margin-bottom: 5px;
}

.tagtp {
  font-size: 14px;
  color: rgba(39, 36, 36, 0.9);
  font-weight: bold;
}
