.apply-container {
  display: flex;
  height: 100vh; /* Take complete height */
}

.right-content {
  width: 80%; /* Take 70% of total width */
  height: 100%; /* Take complete height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
.left-nav {
  width: 20%; /* Take 30% of total width */
  min-width: 200px; /* Set minimum width */
  height: 100%; /* Take complete height */
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

/* Style for top buttons */
.top-buttons {
  flex-grow: 1; /* Fill remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Style for logout button */
.logout-button {
  margin-top: auto; /* Push button to bottom */
}

/* Styles for buttons inside left nav */
.left-nav button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.left-nav button:hover {
  background-color: #0056b3;
}
.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-info p {
  flex: 0 1 calc(50% - 20px); /* Adjust width of columns */
  margin: 10px;
}

.user-info strong {
  font-weight: bold;
}
.applyForm {
  margin-top: 20px;
}
.dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dropdowns select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
