.Bankapplication-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.inside h2 {
  text-align: center;
}
.tppara {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  /* background-color: red; */
  box-sizing: border-box;
  width: 100%;
}
.right-content {
  width: 80%; /* Take 70% of total width */
  height: 100%; /* Take complete height */
  display: flex;
  justify-content: start; /* Center the content horizontally */
  overflow-y: hidden;
  align-items: center;
  text-align: center;
}
.scrollable-content {
  height: 100%;
  overflow-y: auto; /* Added overflow-y: auto */
  padding-right: 15px;
  padding-bottom: 20px; /* Added padding-bottom */
  box-sizing: border-box; /* Added box-sizing: border-box */
  width: 100%;
}

.slab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.slab-tab p {
  border-radius: 10px; /* Adjust as needed */
  padding: 10px 20px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width/height */
  font-size: 14px; /* Increased font size */
  font-weight: 600; /* Bold font weight */
  border: 2px solid #ccc; /* Added border */
  text-align: center;
  background-color: white;
}

.smallwrapper {
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  /* flex: 1; */
}
.somethingdiff {
  color: red;
}
