.bankinfo-container {
  display: flex;
  height: 100vh; /* Take complete height */
  overflow: hidden;
}

.right-content {
  width: 80%; /* Take 70% of total width */
  height: 100%; /* Take complete height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  overflow-y: hidden;
  align-items: center; /* Center the content vertically */
  flex: 1;
  padding: 20px;
}

.right-content button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.right-content button:hover {
  background-color: #0056b3;
}
.tp h2 {
  text-align: center;
}

.ekaurdiv {
  height: 400px;
}

.us2 {
  height: 50%;
  width: 30%;
  padding: 10px;
}
